<h1>FAQ</h1>

<h3>So, what is this?</h2>
<p>Just a silly colville fansite. :)</p>

<h3>Do I need to login to look at the weather?</h2>
<p><em><font color='#FF0000'>No. Nothing on this webpage requires a login or for personal data to be entered. If you see something like that, it is NOT this webpage and probably not safe. </em></p></font>

<h3>Where's the weather coming from?</h2>
<p>The weather information being used is from the <a href='http://www.wunderground.com/'>http://www.wunderground.com/</a> website. </p>

<h3>Who made this website, and why?</h2>
<p>I did. I created the code being used, and designed the logo and background. It was made as a project for a fullsail class. </p>

<h1>Terms and conditions</h1>
<p>Nothing. Well, I mean no using my code to take over the world or destory modern civilization or something; but other then that anyone is welcome to take a look under the hood and see what's going on. This site does not require personal information and does not use computer locations to find the weather - if something is asking for that swim away. Do not click accept.</p>


 <a href='#/default'> Back</a>