<!--

welcome page
-->

<p> This website is dedicated to that little snow ridden-town out in the middle of nothing that noone really knows where exactly it sits. Huzzah!</p>

<p>Hey kids! Click one of the links below to learn more about Colville, WA.</p>

<a href='#/show'><button type="button" class="btn btn-success">Current weather report</button></a>
<a href='#/pictures'><button type="button" class="btn btn-primary">Pictures</button></a>
<a href='#/about'><button type="button" class="btn btn-info">Website FAQ</button></a>
<a href='http://www.colville.wa.us/'><button type="button" class="btn btn-warning"> Offical Colville Website link</button></a>



<a href='#/msg'><button type="button" class="btn btn-default">Send me a message!</button></a>

